In [1]:
#from pyrosm import OSM
#from pyrosm import get_data

import geopandas as gpd
import pandas as pd

In [2]:
# Initialize the OSM parser object
#osm = OSM("nusa-tenggara-latest-internal.osm.pbf")

In [2]:
drive_net = gpd.read_file('jalan_rbi.gpkg')

In [3]:
drive_net.head(5)

           REMARK                                           geometry
0  Jalan Kolektor  MULTILINESTRING Z ((116.82853 -8.86403 0.00000...
1  Jalan Kolektor  MULTILINESTRING Z ((116.82940 -8.86136 0.00000...
2  Jalan Kolektor  MULTILINESTRING Z ((116.82779 -8.85829 0.00000...
3  Jalan Kolektor  MULTILINESTRING Z ((116.82255 -8.85807 0.00000...
4  Jalan Kolektor  MULTILINESTRING Z ((116.81821 -8.84942 0.00000...

In [4]:
gf=gpd.read_file('degurba_5200_rev_w_buitup_adjustment_3.gpkg')

In [36]:
highway_=drive_net.query('REMARK not in ["Jalan Setapak"]')#.query('surface in @surface_l')

In [37]:
highway_.REMARK.unique()

array(['Jalan Kolektor', 'Jalan Arteri',
       'Jalan Tol Dua Jalur Dengan Pemisah Fisik', 'Jalan Layang',
       'Jalan Lain', 'Jalan Lokal', 'Jalan/Transportasi Darat Lainnya'],
      dtype=object)

In [38]:
data_highway=highway_.overlay(gf.dissolve(),how='intersection')

In [39]:
high_2km=data_highway.to_crs(3857).buffer(2000).to_crs(4326)

In [40]:
data_highway['geometry']=high_2km

In [41]:
data_jalan=data_highway[['geometry']]
data_jalan['reg']=1

C:\Users\user\.conda\envs\pysal_env\lib\site-packages\geopandas\geodataframe.py:1456: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [42]:
data_jalan.to_file('jalan_2km_rbi.gpkg',driver='GPKG')

In [43]:
data_int=gpd.sjoin(gf,data_jalan,how='left',predicate='intersects')

In [44]:
data_int.reg.unique()

array([nan,  1.])

In [45]:
unique_nama=data_int.query('reg==1')['Name'].unique()

In [46]:
gf['accessed']=gf.Name.apply(lambda y:1 if y in unique_nama else 0)

In [47]:
gf.to_file('jalan_ntb.gpkg',driver='GPKG')

In [48]:
data_p=gf.pivot_table(index='classification',columns='accessed',values='pop_built_s2',aggfunc='sum').fillna(0)

In [49]:
data_p['percent']=data_p[1]*100/(data_p[0]+data_p[1])

In [50]:
data_p

accessed                   0             1     percent
classification
CENTRE              0.000000  2.571612e+06  100.000000
CLUSTER          4039.154317  1.695629e+06   99.762356
RURAL           25748.503164  3.727947e+05   93.539344